@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

body {
    box-sizing:         border-box;
    margin:             0;
    padding:            0;
    background-color: #dfe0dd; //464646
    display:            flex;
    justify-content:    center;
}

main {
    width:              75%;
    background-color: #fff;
}

.navbar {
    &__logo {
        width:          30px;
        height:         auto;
    }
}

.jumbotron {
    background-image:       url('../img/jambotron-bckg1-alpha.jpg');
    background-size:        cover;
    background-repeat:      no-repeat;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items:flex-end;
    }

    &__title {
        text-transform:     capitalize;
        font-family:        'Sail', cursive;
        font-size:          85px;
        letter-spacing:     15px;
        color:              #000;
    }

    &__lead {
        font-family:        'Courgette', cursive;
        font-size:          27px;
        letter-spacing:     2px;
    }
}

.howit {
    padding-bottom:         15px;
    display:                flex;

    &__description {
        padding:            0 !important;
        min-height:         230px;
    }

    &__header {
        font-size:          25px;
        font-weight:        600;
    }

    &__qr {
        border:                 1px solid silver;
        min-height:             230px;
        display:                flex;
        justify-content:        center;
        align-items:            center;
    }

    &__content {
        font-size:              17px;
        line-height:            1.8em;
    }
}

.feaches {
    &__bage {
        text-transform:     capitalize;
        font-size:          14px;
        letter-spacing:     2px;
    }
}

.service {
    margin-top:     30px;

    &__card {
        margin:     auto !important;
    }

    &__logo {
        height:     auto;
        width:      50%;
        margin:     auto;
    }

    &__title {
        text-align:     center;
    }
}

#event-section, #blog-section {
    margin-top:         50px;
}

.eventblock {
    display:            flex;
    justify-content:    center;
}

.blog{
    &__banner {
        width:          100%;
        height:         auto;
    }

    &__pagination {
        margin-top:     40px;
    }
}

#qr-reader {
    width:                  280px;
    min-height:             230px;
    border:                 none !important;
}